<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if(isLoading()){
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  }@else {
  <h1>
    {{ formConfig().form.title }}
  </h1>
  @for (field of formConfig().form.fields; track $index) {
  <div class="input">
    <mat-form-field appearance="fill">
      <mat-label>{{ field.title }}</mat-label>
      <input
        matInput
        [formControlName]="field.name"
        [type]="field.type"
        #tooltip="matTooltip"
        [matTooltip]="field.description ? field.description : ''"
        [matTooltipPosition]="'after'"
        matTooltipHideDelay="2000"
      />
      <mat-error
        #tooltip="matTooltip"
        [matTooltip]="field.errorMessage ? field.errorMessage : ''"
        [matTooltipPosition]="'below'"
        matTooltipHideDelay="2000"
        >{{ field.errorMessage }}</mat-error
      >
      @if(field.type==='NEW_PASSWORD'){
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      }
    </mat-form-field>
    @if(field.info){
    <button mat-icon-button
         #tooltip="matTooltip"
        [matTooltip]="field.info"
        [matTooltipPosition]="'below'"
        matTooltipHideDelay="1000">
      <mat-icon>info</mat-icon>
    </button>
    }
  </div>
  } }
  <button
    type="submit"
    mat-flat-button
    extended
    [disabled]="form.invalid"
    color="primary"
    class="form-submit"
  >
    {{formConfig().form.submitLabel}}
  </button>
</form>
