:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-top: 1px solid #cbd5e1;
  background-color: #FFF;

  &__title {
    color: #64748B;
    font-size: 12px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
